/* ------------- */
/* SM VISUALIZER */
/* ------------- */

@charset 'UTF-8';

.sm-visualizer {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.controls {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.map {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.item {
    margin: 0;
    padding: 16px;
    border: 2px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--color-background);
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.item_focus {
    outline: 2px solid var(--color-link-hover);
}

.item_swap {
    outline: 2px solid var(--color-d-monocromatic-b);
}

.item_disabled {
    opacity: 0.3;
}

