@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {}

*, ::after, ::before {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    direction: ltr;
    font-size: 16px;
    line-height: 1.382em;
}

body {
    min-height: 100vh;
    background: var(--color-background);
}

button, select {
    font-size: 16px;
    line-height: 1.382em;
}

.smv-container {
    height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 4fr;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 2px;
}

.field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
    padding: 2px;
}

.chunk {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333E4A;
}

.chunk > span {
    color: #EBDFDF;
}

.focus {
    border: 2px solid white;
}

.focusSwap {
    border: 2px solid yellow;
}

.disabled {
    background-color: #22282F;
}
