/* ------- */
/* SMV APP */
/* ------- */

.smv-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4px;
}

.smv-field {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 4px;
}

    .chunk {
        margin: 0;
        padding: 16px;
        border: 2px dashed var(--color-border);
        border-radius: 4px;
        background-color: var(--color-background);
        display: flex;
        justify-content: center;
    }

    .focus {
        outline: 2px solid green;
    }

    .focusSwap {
        outline: 2px solid yellow;
    }

    .disabled {
        opacity: 0.5;
    }

